 <section id="portfolio">
 <div class="container">
    {% for post in site.posts %}
        {% if post.categories contains page.id %}
            <div class="col-lg-12 text-center" style="margin-bottom:30px">
                <h2>{{ post.title }}</h2>
            </div>
            
            <div class="row">
                {% if post.img != null %}
                <div class="portfolio-item">
                    <p class="col-sm-8 text-center">{{ post.main-content }}</p> 
                    <div class="col-sm-4">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://avivaprins.github.io/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"/>
                        </a>
                    </div>
                    </div>
                {% else %}
                    <div class="col-lg-12 text-center">
                        <p>{{ post.main-content }}</p> 
                    </div>
                {% endif %}
        </div>
        <hr class="star-light">
        {% endif %}
    {% endfor %}
    </div>
</section>
